flask==3.1.0
numpy==1.24.3
pandas==2.2.2
scikit_learn==1.5.1
matplotlib==3.8.0
Jinja2==3.1.4
pytesseract
Pillow
fpdf
firebase-admin
python-dotenv
pdfplumber
PyMuPDF
tensorflow==2.13.0
keras==2.13.1
h5py==3.8.0
